<ion-content class="ion-padding">
  <div class="dash-welcome-header animate__animated animate__fadeIn">
    <div class="dash-welcome-text">
      <h1 class="dash-welcome-name">Configurações</h1>
      <p class="dash-welcome-greeting">Gerencie sua conta e preferências do sistema</p>
    </div>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="12" sizeSm="6" sizeMd="4" *ngFor="let card of cards" class="animate__animated animate__fadeInUp">
        <div class="dash-kpi-card dash-kpi-card--{{card.color}}" [routerLink]="card.path ? card.path : null"
          (click)="handleCardClick(card)">
          <div class="dash-kpi-label">{{card.subtitle}}</div>
          <div class="dash-kpi-value">{{card.title}}</div>
          <ion-icon [name]="card.icon" class="dash-kpi-icon"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>