# Build artifacts
ari-fitness-api/dist
ari-fitness-api/node_modules
ari-fitness-app/dist
ari-fitness-app/dist-electron
ari-fitness-app/node_modules
ari-fitness-app/www
ari-fitness-app/platforms
ari-fitness-app/plugins

# Vercel
.vercel

#antigravity
.agent
.antigravity
.skills/

# Environment
.env
*.log

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
scripts-sql/00_master.sql
scripts-sql/01_insert_grupos_musculares.sql
scripts-sql/02_insert_equipamentos.sql
scripts-sql/03_insert_exercicios.sql
scripts-sql/04_insert_exercicio_musculo.sql
scripts-sql/05_create_lookup_tables.sql
scripts-sql/06_alter_exercicios.sql
scripts-sql/07_create_exercicio_musculo.sql
scripts-sql/08_add_midias_url.sql
scripts-sql/10_fix_musculo_id.sql
scripts-sql/03_partes/03_parte_01.sql
scripts-sql/03_partes/03_parte_02.sql
scripts-sql/03_partes/03_parte_03.sql
scripts-sql/03_partes/03_parte_04.sql
scripts-sql/03_partes/03_parte_05.sql
scripts-sql/03_partes/03_parte_06.sql
scripts-sql/03_partes/03_parte_07.sql
scripts-sql/03_partes/03_parte_08.sql
scripts-sql/03_partes/03_parte_09.sql
scripts-sql/03_partes/03_parte_10.sql
scripts-sql/03_partes/03_parte_11.sql
scripts-sql/03_partes/03_parte_12.sql
scripts-sql/03_partes/03_parte_13.sql
scripts-sql/03_partes/03_parte_14.sql
scripts-sql/03_partes/03_parte_15.sql
scripts-sql/03_partes/03_parte_16.sql
scripts-sql/03_partes/03_parte_17.sql
scripts-sql/03_partes/03_parte_18.sql
scripts-sql/09_partes_midia/09_parte_01.sql
scripts-sql/09_partes_midia/09_parte_02.sql
scripts-sql/09_partes_midia/09_parte_03.sql
scripts-sql/09_partes_midia/09_parte_04.sql
scripts-sql/09_partes_midia/09_parte_05.sql
scripts-sql/09_partes_midia/09_parte_06.sql
scripts-sql/09_partes_midia/09_parte_07.sql
scripts-sql/09_partes_midia/09_parte_08.sql
scripts-sql/09_partes_midia/09_parte_09.sql
