<ion-content>
    <div class="reset-container">
        <div class="reset-card">

            <div class="header-section">
                <h2>Nova Senha</h2>
                <p>Crie uma senha forte para proteger sua conta.</p>
            </div>

            <div class="form-section" [formGroup]="form">
                <ion-item lines="none">
                    <ion-label position="floating">Nova Senha</ion-label>
                    <ion-input type="password" formControlName="senha" placeholder="••••••••"></ion-input>
                </ion-item>

                <ion-item lines="none">
                    <ion-label position="floating">Confirmar Nova Senha</ion-label>
                    <ion-input type="password" formControlName="confirmSenha" placeholder="••••••••"></ion-input>
                </ion-item>

                <ion-button expand="block" color="primary" class="reset-button" [disabled]="form.invalid"
                    (click)="resetPassword()">
                    Redefinir Senha
                </ion-button>

                <div class="footer-links">
                    <ion-button fill="clear" size="small" (click)="goToLogin()">
                        Voltar para o Login
                    </ion-button>
                </div>
            </div>

        </div>
    </div>
</ion-content>