<ion-app>
  <!-- Custom Glassmorphism Update Card -->
  <div *ngIf="showUpdateNotify" class="update-notification-container animate__animated animate__slideInDown">
    <div class="update-card glass-card">
      <div class="update-icon">
        <ion-icon name="rocket-outline"></ion-icon>
      </div>
      <div class="update-content">
        <h3>🚀 Nova Versão!</h3>
        <p>A versão <strong>{{newVersion}}</strong> está disponível com novidades e mais performance.</p>
      </div>
      <div class="update-actions">
        <button class="btn-update" (click)="reloadApp()">Atualizar</button>
        <button class="btn-close" (click)="showUpdateNotify = false">Depois</button>
      </div>
    </div>
  </div>
  <ion-header [translucent]="true" *ngIf="user">
    <ion-toolbar class="d-flex">
      <!-- <ion-icon *ngIf="(route !== '/home' && route !== '/login')" slot="start"   size="large" class="ion-padding-start"  (click)="navigateBack()" name="arrow-back"></ion-icon> -->
      <div class="d-flex">
        <div class="ion-padding logo-img"></div>

        <ion-title class="d-flex ion-align-items-center ion-justify-content-between">
          <div class="ion-align-items-center ion-justify-content-between">
            MvK Gym Manager
          </div>

        </ion-title>
      </div>
      <!-- <ion-icon *ngIf="route !== '/login'" name="power-sharp" slot="end" size="large" class="ion-padding-end" [routerLink]="['/login']"></ion-icon> -->
      <ion-icon *ngIf="route !== '/login'" (click)="showOptions = true" name="person" slot="end" size="large"
        class="ion-padding-end" id="options-trigger"></ion-icon>
    </ion-toolbar>
  </ion-header>
  <ion-router-outlet></ion-router-outlet>
</ion-app>




<ion-popover trigger="options-trigger" [isOpen]="showOptions" [dismissOnSelect]="true"
  (didDismiss)="showOptions = false">
  <ng-template>

    <ion-list>
      <ion-list-header>
        <ion-label>Olá, {{user?.nome}}</ion-label>
      </ion-list-header>

      <ion-item [button]="true" (click)="showOptions = false">
        <ion-icon name="notifications" slot="start"></ion-icon>
        Notificações
      </ion-item>
      <ion-item [button]="true" (click)="showOptions = false" [routerLink]="['/admin/configuracoes/meu-perfil']">
        <ion-icon name="person" slot="start"></ion-icon>
        Meu Perfil
      </ion-item>
      <ion-item [button]="true" (click)="toggleTheme()">
        <ion-icon [name]="isDarkMode ? 'sunny-outline' : 'moon-outline'" slot="start"></ion-icon>
        Modo {{ isDarkMode ? 'Claro' : 'Escuro' }}
      </ion-item>
      <ion-item [button]="true" (click)="showOptions = false; logout()">
        <ion-icon name="exit" slot="start"></ion-icon>
        Sair
      </ion-item>
    </ion-list>
  </ng-template>
</ion-popover>