<ion-content>
    <ion-fab *ngIf="user.tipo_usuario === 3" slot="fixed" vertical="top" horizontal="end" [edge]="false">
        <ion-fab-button id="open-treino-modal" fill="outlined" color="success" (click)="addNewTreino()">
            <ion-icon name="add" size="large"></ion-icon>
        </ion-fab-button>
    </ion-fab>


    <ion-grid fixed>
        <ion-row class="ion-align-items-center">
            <ion-col size="12">
                <ion-searchbar placeholder="Pesquisar treinos..." [(ngModel)]="searchText" (keyup)="filterList()"
                    (ionClear)="filteredTreinos = treinos" class="custom-searchbar">
                </ion-searchbar>
            </ion-col>
        </ion-row>

        <div class="row g-4 px-2">
            <div *ngFor="let treino of filteredTreinos" class="col-12" [ngClass]="gridMode ? 'col-md-6 col-lg-4' : ''">
                <app-treino-list-item [treino]="treino" [enableSelect]="enableSelect" [user]="user"
                    [enableEdit]="enableEdit" (output)="listenItemEvents($event)">
                </app-treino-list-item>
            </div>
        </div>


        <ion-row *ngIf="filteredTreinos.length === 0" class="ion-justify-content-center ion-padding">
            <ion-text color="medium">Nenhum treino encontrado.</ion-text>
        </ion-row>
    </ion-grid>

    <ion-footer class="ion-no-border" *ngIf="filteredTreinos.length > 0 && !gridMode">
        <ion-toolbar class="ion-padding-horizontal">
            <ion-button expand="block" color="primary" shape="round" (click)="associateToUser()">
                <ion-icon name="checkmark-done-outline" slot="start"></ion-icon>
                VINCULAR TREINOS SELECIONADOS
            </ion-button>
        </ion-toolbar>
    </ion-footer>
</ion-content>