<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{pageTitle}}</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-tabs>
  <ion-tab-bar slot="bottom" *ngIf="isMobile || user.tipo_usuario === Constants.ALUNO_ID">
    <ion-tab-button *ngFor="let item of filteredNavItems"
      [ngClass]="route.indexOf(item.route) > -1 ? 'tab-selected' : ''"
      (click)="navigate(item.route, item.route.includes('admin'))">
      <ion-icon aria-hidden="true" [name]="item.tabIcon || item.sidebarIcon"></ion-icon>
      <ion-label *ngIf="user.tipo_usuario === Constants.ALUNO_ID">{{ item.label }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>